<div class="matching__list">

  <% @users.each do |user| %>

  <%# この行を追加 %>
  <%= link_to chat_rooms_path(params: { user_id: user.id }), method: :post do %>

  <div class="matching__person">

    <% if user.image.url.nil? %>
    <div class="matching__person-default-img"></div>
    <% else %>
    <%= image_tag user.image.url, class: "matching__person-img" %>
    <% end %>

    <div class="matching__person-name">
      <%= user.name %>
    </div>

  </div>

  <%# この行を追加 %>
  <% end %>

  <% end %>

</div>